body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flexGrow {
    flex: 1;
}

.flexLeft {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.flexRight {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.flexElement {
    display: inline-block;
}

.flexFirstRightElement {
    margin-left: auto;
}

.headerFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerIcon {
    width: 60px;
    height: 60px;
    margin: 10px;
}

#header {
    height: 100px;
    border-bottom: 5px solid #32c5f1;
}

#footer {
    height: 50px;
    border-top: 5px solid #32c5f1;
}

.workArea {
    margin: 10px;
    background-image: linear-gradient(#e3f4ff, #b9d2ff);
    flex-grow: 1;
    min-height: calc(100vh - 250px);
}

#startButton {
    height: 60px;
    line-height: 60px;
    width: 300px;
    text-align: center;
    background-color: aquamarine;
    margin: 10px;
    display: inline-block;
}

#startButtonLink {
    text-decoration: none;
}

#loginFormArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centralSplitArea {
    display: flex;
    justify-content: left;
    align-items: stretch;
}

.headerCenterElement {
    margin-right: auto;
}

.tabs, .buttons {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 20px;
}
.tabs>li, .buttons>li {
    display: inline;
    background-color: #b9d2ff;
    padding: 5px;
    padding-top: 0px;
}

#questionsArea {
    display: inline-block;
    min-width: 300;
    overflow-y: auto;
    border-right: 2px solid #32c5f1;
}

#modeArea {
    display: inline-block;
    min-width: 200;
    border-right: 2px solid #32c5f1;
}

#answersArea {
    display: inline-block;
    overflow-y: scroll;
    padding: 15px;
    flex: 1;
    overflow-y: auto;
}

#questionsArea>ul>li {
    margin: 5px;
}

#questionsArea>ul>li>a {
    text-decoration: none;
}


.fileName {
    border: none;
    border-right: 1px solid black;
}

#controlMenu {
    height: 20px;
}

#emptyButton {
    background-color: inherit;
}

table {
    border-collapse: collapse;
    margin: 15px;
}

td {
    border: 2px solid black;
    padding: 2px;
}
