body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flexGrow {
    flex: 1;
}

.flexLeft {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.flexRight {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.flexElement {
    display: inline-block;
}

.flexFirstRightElement {
    margin-left: auto;
}

.headerFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerIcon {
    width: 60px;
    height: 60px;
    margin: 10px;
}

#header {
    height: 100px;
    border-bottom: 5px solid #32c5f1;
}

#footer {
    height: 50px;
    border-top: 5px solid #32c5f1;
}

.workArea {
    margin: 10px;
    background-image: linear-gradient(#e3f4ff, #b9d2ff);
    flex-grow: 1;
    min-height: calc(100vh - 250px);
    overflow-x: scroll;
}

#startButton {
    height: 60px;
    line-height: 60px;
    width: 300px;
    text-align: center;
    background-color: aquamarine;
    margin: 10px;
    display: inline-block;
}

#startButtonLink {
    text-decoration: none;
}

#loginFormArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centralSplitArea {
    display: flex;
    justify-content: left;
    align-items: stretch;
}

.headerCenterElement {
    margin-right: auto;
}

.tabs, .buttons {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 20px;
}
.tabs>li, .buttons>li {
    display: inline;
    background-color: #b9d2ff;
    padding: 0 5px 5px;
}
.tabs>li>a {
    text-decoration: none;
}
.buttons>li>a {
    text-decoration: none;
}

.bad {
    border: black 1px solid;
    padding: 10px 15px;
    background-color: #B73239;
    color: white;
    font-family: Helvetica, sans-serif;
    margin-bottom: 5px;
    width: 500px;
}

#questionsArea {
    display: inline-block;
    min-width: 300px;
    overflow-y: auto;
    border-right: 2px solid #32c5f1;
}

#modeArea {
    display: inline-block;
    width: 200px;
    border-right: 2px solid #32c5f1;

}

#answersArea {
    display: inline-block;
    padding: 15px;
    flex: 1;
    overflow-y: auto;
}

#questionsArea>ul>li {
    margin: 5px;
}

#questionsArea>ul>li>a {
    text-decoration: none;
}


.fileName {
    border: none;
}

#controlMenu {
    height: 20px;
}

#emptyButton {
    background-color: inherit;
}

table {
    border-collapse: collapse;
    margin: 15px;
}

td {
    border: 2px solid black;
    padding: 2px;
}
table>th {
    border: none;
}

.validInput {
    border-color: greenyellow;
}

.invalidInput {
    border-color: red;
    border-width: 3px;
}

.notimplemented{
    color: grey;
    text-decoration: none;
    pointer-events: none;
    cursor: default;
}

.downloadIcon {
    width: 15px;
    height: 15px;
    cursor: pointer; 
}

.iconCell {
    text-align: center;
    border: none;
    vertical-align: middle;
}

.textField {
    width: 80px;
}

.cellButton {
    cursor: pointer;
    width: 15px;
    height: 15px;
    display: inline;
}

.removeColumnButton {
    width: 7px;
    height: 7px;
    padding: 0 0 0 0;
}

#templateRow {
    display: none;
}

.fieldTextField {
    width: 100px
}

.textFieldIcon {
    white-space: nowrap;
    border: 1px solid black;
    vertical-align: middle;
    text-align: left;
}

#phpErrorArea {
    display: none;
}

.tabContent {
    margin-top: 10px;
}

#helpLink {
    display: none;
}

#uploaded {
    background-color: #32c5f1;
}